<div class="wraper">
  <h2>ALL HOGWARTS HOUSES</h2>

  <div class="house-cards-grid">

    <div *ngFor="let i of imgHouse" (click)="verHouse( house )">
      <img [src]="i">

    </div>

    <div class="target" *ngFor="let house of house; index as j">

      <h2 class="subtitle"> {{house.name}} </h2>


      <h3>{{house.members.length}} members</h3>

      <button (click)="verHouse( house )">Ver +</button>


    </div>
  </div>
  <div>
  </div>

  <footer>
    <p>UI-Text make by Elizabeth Orrego &copy;</p>
  </footer>
</div>
