
<div class="container">

  <h2>ALL HOGWARTS HOUSES</h2>

  <div class="house-cards">
    <!--Array of images created in component-->
    
    <div *ngFor="let i of imgHouse">
      <img [src]="i.path">
    </div>
    <div *ngFor="let house of house">
      <h2> {{house.name}} </h2>
      <h3>Members {{house.members.length}}</h3>
    </div>
    
    
  </div>

  
</div>
<!--
  <h2>All CHARACTERS</h2>
  <div class="form">
    <input type="text" name="filterCharacters" placeholder="Search..." [(ngModel)]="filterCharacters">
  </div>

  <div class="table">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Role</th>
          <th>House</th>
          <th>School</th>
          <th>BloodStatus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of character | filter:filterCharacters">
          <td>{{character.name}}</td>
          <td>{{character.role}}</td>
          <td>{{character.house}}</td>
          <td>{{character.school}}</td>
          <td>{{character.bloodStatus}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->

<footer>
  <p>UI-Text make by Elizabeth Orrego &copy;</p>
</footer>
