/* You can add global styles to this file, and also import other style files */
//Import font of https://fonts.googleapis.com
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700)

//margin variables
$margin: 20px
//Color variables
$colorBase: #37474f
$primary-color: #008cba
//Font Variables
$roboto-slab: 'Roboto Slab', serif

*
    box-sizing: border-box
    margin: 0px
    padding: 0px
    background-color: #f1f1f1
    font-family: $roboto-slab
    color: $colorBase
    font-size: 16px


h1
    text-align: left
    color: $primary-color
    line-height: 50px
    background: #873436
    font-size: 30px

h2
    color: $colorBase
    text-align: center

h3
    color: $primary-color
    text-align: center

a
  color: $primary-color


//House cards


.container
    width: 90%
    min-height: 400px
    margin: 0px auto
    margin-top: 80px


.house-cards
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: $margin
    margin-bottom: $margin
    border: 2px #cccccc


    img
        width: 100%
        height: 220px
        margin-top: 40px
        border-radius:  2px
        box-shadow: 0px 0px 4px gray
        &:hover
            box-shadow: 2px 2px 4px  $primary-color
            transition: all 300ms
            cursor: pointer


input
    display: block
    width: 30%
    height: 40px
    margin-top: 20px
    margin-bottom: $margin
    border-radius: 5px
    padding: $margin

.table
    width: 100%

    table
        border:1px solid white

        thead
            height: 50px
            background:$primary-color
            text-align: center

        td
            width: 15%
            text-align: right
            padding-right: $margin
            border-bottom: 1px solid white

footer
    width: 90%
    margin: 0px auto
    margin-top: 10px











